<p><%=@tweet.content%></p>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="hidden" value="DELETE" id="hidden" name="_method">
  <input type="submit" value="Delete Tweet">
</form>
<a href="/tweets/<%=@tweet.id%>/edit">Edit</a>
