<h1>Sign up and leave digital evidance of all you worst thoughts.</h1>
<form class="signup-form" action="/signup" method="post">
   <input type="text" name="username" placeholder="Username:" id="user_name">
   <input type="email" name="email" placeholder="Email:" id="user_email">
   <input type="password" name="password" placeholder="Password:" id="user_password">
   <input type="submit" value="Sign Up">
</form>
